$playlist-width: 25%;
$music-height: 60px;
$music-padding: 10px;
$delete-size: 45px;
$border-size: 1px;

#playlist {
  display: inline-block;
  background: white;
  height: calc(100vh - 48px - #{$border-size});
  width: $playlist-width;
  border-right: solid $border-size #ddd;
}

.music {
  border-bottom: solid 1px #ddd;
  height: $music-height;
}

.music-time {
  color: #bbb;
}

.music-info {
  padding: $music-padding;
  padding-right: 0;
  float: left;
  width: calc(100% - #{$music-padding} - #{$delete-size});
}

.music-info, .music-delete {
  display: inline-block;
}

.music-delete {
  border-left: solid $border-size #ddd;
  width: calc(#{$delete-size} - #{$border-size});
  height: $music-height;
}