<div id="playlist">
    <div class="music">
        <div class="music-info">
            <div class="music-title">[Indie Dance] LVTHER - One Look (fea...</div>
            <div class="music-time">3:25</div>
        </div>
        <div class="music-delete">

        </div>
    </div>
    <div class="music">
        <div class="music-info">
            <div class="music-title">FAUVE - Sainte-Anne</div>
            <div class="music-time">4:27</div>
        </div>
        <div class="music-delete">

        </div>
    </div>
    <div class="music">
        <div class="music-info">
            <div class="music-title">Foster The People - Houdini</div>
            <div class="music-time">2:58</div>
        </div>
        <div class="music-delete">

        </div>
    </div>
</div>