$nav-height: 48px;

body {
  margin: 0;
  font-family: var(--lumo-font-family);
}

.card {
  border-radius: var(--lumo-border-radius);
  box-shadow: 0 0 0 1px var(--lumo-shade-5pct), var(--lumo-box-shadow-s);
  padding: 10px;
  margin: 10px;
  display: inline-block;
  background: white;
}


.router-content > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*#main-content {
  width: 100%;
  height: calc(100vh - #{$nav-height});
  background: #fafafa;
}*/

#main-content > * {
  top: $nav-height;
  left: 0;
  height: calc(100vh - #{$nav-height});
  background: #fafafa;
}