<vaadin-tabs theme="equal-width-tabs">
    <vaadin-tab routerLink="/"><img src="/assets/logo.png"/></vaadin-tab>
    <vaadin-tab routerLink="/music">Musique</vaadin-tab>
    <vaadin-tab routerLink="/groups">Groupes</vaadin-tab>
    <vaadin-tab routerLink="/profile">Mon Profil</vaadin-tab>
    <vaadin-tab routerLink="/settings">Paramètres</vaadin-tab>
</vaadin-tabs>

<div id="main-content" class="router-content" [@routerAnimation]="getRouteAnimation(route)">
    <router-outlet #route="outlet"></router-outlet>
</div>